[Desktop Entry]
Name=MicroTrack
Name[en_US]=MicroTrack
GenericName=Activity Tracker
GenericName[en_US]=Activity Tracker
Comment=Simple Activity Tracker
Exec=microtrack
Terminal=true
Type=Application
Icon=/usr/share/mt.png
#Categories=Graphics;2DGraphics;Viewer;
X-Desktop-File-Install-Version=0.22
